.CreateIssuePage {
  margin: 3rem 4rem;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-evenly; */
  /* flex-direction: column;  */
}

.CreateIssuePage section {
  /* background-color: purple;
  flex-grow: 3; */
  text-align: left;
}

.CreateIssuePage section label {
}

.CreateIssuePage .description {
  margin-top: 0.2rem;
}
