.CreateIssueForm {
  display: flex;
  flex-direction: column;
  margin: 0 3rem;
}

.CreateIssueForm .form-field {
  margin-top: 3vh;
  text-align: left;
}

.CreateIssueForm .create-buttons {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 0 auto;
  margin-top: 5vh;
}

.CreateIssuePage .form-header {
  display: flex;
  align-items: center;
  justify-content: right;
}

.CreateIssuePage .form-header .discard-btn {
  height: min-content;
  margin-left: 10vw;
  margin-right: 3vw;
}
