.Header {
}
.Header .inner-header {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}

.Header .inner-header h1 {
  /* margin-right: auto; */
}

.issue-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.back-home {
  display: flex;
  align-items: center;
}
